@import "color";

//input
.el-input__inner {
  border-radius: 2px;
  color: $color-font-1-dark;
  background: $color-bg-input-dark;
  border: 1px solid $color-border-input-dark;
  box-shadow: $box-shadow-input-dark;
  font-size: 16px;
}

.el-input__prefix, .el-input__suffix {
  color: #fff;
}

.el-select .el-input .el-select__caret {
  @include znv-font-color($color-font-9-dark, $color-font-9-dark);
}

//.el-input__inner:hover {
//  border: 1px solid #6288D9;
//}
//
//.el-select:hover .el-input__inner {
//  border: 1px solid #6288D9;
//}
//
//.el-select .el-input.is-focus .el-input__inner {
//  border: 1px solid #6288D9;
//}
//
//.el-select .el-input__inner:focus {
//  border: 1px solid #6288D9;
//}

.el-input__suffix {
  right: 1px;
  top: 1px;
  background: $color-bg-select-btn;
  //@include znv_bg($color-bg-select-btn, $color-bg-select-btn-dark);
  background: $color-bg-select-btn-dark;
  width: 40px;
  height: 38px;
  //@include znv-border-left(1px, $color-border-input, $color-border-input-dark)
  border-left: 1px solid $color-border-input-dark;
}

.el-input--prefix .el-input__inner {
  padding-left: 15px;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 100%;
}

.el-date-editor.el-input:hover {
  .el-icon-circle-close {
    display: none;
  }
}

.el-input--medium .el-input__inner {
  height: 1.7rem;
  line-height: 1.7rem;
}

.el-input.is-disabled .el-input__inner {
  color: $color-font-6-dark;
  background: $color-bg-input-disable-dark;
  border: 0;
}

//button
.el-button {
  border-radius: 0;
  border: none;
}

.el-button--mini {
  @include znv-font-color($color-font-1, $color-font-blue);
}

.el-button--default {
  background: rgba(98, 136, 217, 0.1);
  @include znv_border(1px solid $color-border-znv-panel, 1px solid $color-border-dark-blue);
  border-radius: 2px;
  font-size: 18px;
  padding: 11px 41px;
  //color: #fff;
  @include znv-font-color($color-font-blue4, $color-font-blue);
}

.el-button--default:focus, .el-button--default:hover {
  background: none;
  /*@include znv-font-color($color-btnfont-cancle-hover, $color-btnfont-cancle--dark-hover);*/
  @include znv_border(1px solid $color-border-znv-panel, 1px solid $color-border-dark-blue);
  @include znv-font-color($color-font-blue4, $color-font-blue);
  opacity: 0.8;
}

.el-button--medium {
  width: 4.5rem;
  height: 1.7rem;
}

.el-button--primary, .el-button--default.el-button--primary {
  @include znv_bg($color-btn-primary, $color-btn-primary-dark);
  border-radius: 2px;
  color: $color-font-1;
  font-size: 18px;
  padding: 11px 41px;

  &:hover {
    @include znv_bg($color-btn-primary, $color-btn-primary-hover-dark);
    opacity: 0.8;
    color: $color-font-1;
  }
}

.el-button--primary.znv-style01 {
  height: 30px;
  border: 1px solid #1b7cad;
  background: none;
  background-color: transparent;
  border-radius: 5px;
  padding-top: 7px;
  font-size: 14px;
}

.el-button--primary.znv-style01.znv-active {
  background: linear-gradient(180deg, rgba(107, 187, 253, 1), rgba(0, 138, 252, 1), rgba(0, 95, 176, 1));
}

//select
.el-select {
  width: 100%;
}

.el-select .el-input__icon {
  line-height: 1;
}

.el-select .el-tag {
  background-color: #6288D9;
  color: $color-font-1;
}

//NavMenu
.el-menu {
  border-right: 0;
}

.el-menu--horizontal {
  border: none;
}

.el-menu-item {
  //font-size: 1rem;
}

.el-menu-item:hover, .el-submenu__title:hover {
  background-color: #3d52a5 !important;
}

.el-menu-item.is-active {
  background-color: #3d52a5 !important;
  color: white !important;
}

.el-menu-item span {
  //margin-left: 1.5rem;
}

.el-popper[x-placement^=bottom] .popper__arrow {
  display: none;
}

.el-picker-panel {
  //@include znv-font-color($color-font-1, $color-font-6-dark);
  color: $color-font-6-dark;
  //@include znv_border(1px solid #2fb8ff, 0px solid #2fb8ff);
  //@include znv_bg($color-bg-input, $picker-bg-dark);
  background: $picker-bg-dark;
  //@include znv-box-shadow(0 0 32px 3px rgba(30, 158, 255, 0.31) inset, 0 2px 12px 0 rgba(0, 0, 0, .1));
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.el-date-picker__time-header {
  border-bottom: none;
  //@include znv_bg(rgba(17, 50, 99, 0.6), $picker-bg-dark);
  background: $picker-bg-dark;
  border-radius: 2px 2px 0 0;
  padding: 8px 7px 9px;
}

.el-date-picker__time-header .el-input__inner {
  //@include znv_border(none, 1px solid $color-border-input-dark);
  border: 1px solid $color-border-input-dark;
  background: $color-bg-dialog-dark;
  border-radius: 2px;
}

.el-date-table th {
  //@include znv-font-color(#00FCFF, $color-font-6-dark);
  //@include znv-border-bottom(1px, rgba(50, 170, 255, 1), #ebeef5);
}

.el-date-table td.next-month, .el-date-table td.prev-month {
  color: #878787;
}

.el-date-table td.current:not(.disabled) span {
  background: linear-gradient(180deg, rgba(94, 173, 255, 1), rgba(18, 117, 255, 1), rgba(12, 76, 163, 1));
}

.el-picker-panel__footer {
  background: none;
  //@include znv-border-top(1px, rgba(50, 170, 255, 1), #ebeef5);
  border-top: 1px solid #ebeef5;

  .el-button--default {
    //@include znv_bg(linear-gradient(180deg, rgba(94, 173, 255, 1), rgba(18, 117, 255, 1), rgba(12, 76, 163, 1)), transparent);
    border-radius: 2px;
    //@include znv_border(auto, 1px solid #dcdfe6);
    border: 1px solid #dcdfe6;
    //@include znv-font-color(auto, $color-font-6-dark);
    color: $color-font-6-dark;
  }

  .el-button.is-plain:focus, .el-button.is-plain:hover {
    //@include znv_bg(linear-gradient(180deg, rgba(94, 173, 255, .5), rgba(18, 117, 255, .5), rgba(12, 76, 163, .5)), transparent);
    //@include znv-font-color(auto, $color-font-blue);
  }
}

.el-picker-panel__icon-btn {
  //@include znv-font-color($color-font-1, $color-font-1-dark);
}

.el-date-picker__header-label {
  //@include znv-font-color($color-font-1, $color-font-6-dark);
  color: $color-font-6-dark;
}

.el-date-table td.in-range div, .el-date-table td.in-range div:hover {
  //@include znv_bg($color-bg-table-hover, $color-bg-znv-time-inrange-dark);
}

.el-dialog__wrapper {
  overflow: hidden;
  text-align: center;
  display: block;
  position: absolute;
}

.el-dialog__footer {
  text-align: center;
  padding: 0 0 30px 0;
}

.el-date-editor .el-range-separator, .el-date-editor .el-range-input {
  color: #f0f7ff;
}

//dropdown 下拉菜单
.el-dropdown {
  color: $color-font-1;
  vertical-align: middle;
  margin-left: -10px;
}

.el-dropdown-link {
  cursor: pointer;
}

.el-dropdown-menu {
  @include znv_border(1px solid #2fb8ff, 0);
  @include znv_bg(rgba(1, 42, 85, 0.5), $color-bg-dropdown-dark);
  @include znv-box-shadow(0 0 32px 3px rgba(0, 174, 255, 0.31) inset, $box-shadow-dropdown-dark);

}

.el-dropdown-menu__item {
  color: $color-font-1;
  font-size: 16px;
  line-height: 22px;
  padding: 0 15px;
}

.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
  @include znv_bg($color-bg-select-hover, $color-bg-3-dark-active);
  box-shadow: $color-bg-select-hover;
  color: $color-font-1;
}

.znv-dropdown-menu01 {
  border: 1px solid $color-border-5;
  background-color: rgba(1, 42, 85, .7);
  box-shadow: $box-shadow-selcet;
  padding: 0;

  .el-dropdown-menu__item {
    font-size: 18px;
    color: #81e8ff;
    height: 68px;
    line-height: 68px;
    padding: 0 12px;
    min-width: 222px;
  }

  .el-dropdown-menu__item:hover {
    backround-color: #2b6c9f;
  }

  .el-dropdown-item-inner {
    border-top: 1px solid rgba(47, 184, 253, .3);
  }

  .el-dropdown-menu__item:first-child {
    border-top: 0;
  }

  .el-dropdown-item-icon {
    vertical-align: middle;
    margin-right: 5px;
  }

  .el-dropdown-item-title {
    vertical-align: middle;
  }
}

.el-popper[x-placement^=bottom] .popper__arrow {
  top: -7px;
}

//el-dialog
.el-dialog {
  //background: $color-bg-dialog;
  background-size: 100% 100%;
  position: relative;
  z-index: 10000;
  display: inline-block;
  //@include znv_bg($color-bg-dialog, $color-bg-znv-panel-dark);
  @include znv_bg($color-bg-dialog-dark, $color-bg-dialog-dark);
  @include znv_border(0px solid $color-border-5, 0px solid $color-border-znv-dialog-border-dark);
  box-shadow: 0px 5px 10px 0px rgba(104, 104, 104, 0.2);
  border-radius: 4px;
  .el-pagination {
    .el-pager {
      li {
        @include znv-font-color($color-font-1, $color-font-6-dark);
        font-size: 16px;
        font-weight: 400;
      }
    }

    .el-pagination__jump,
    .el-pagination__total {
      font-size: 16px;
      font-weight: 400;
      @include znv-font-color($color-font-1, $color-font-6-dark);
    }

    .el-input__inner {
      background: rgba(13, 22, 34, 0.8);
      border: 1px solid rgba(41, 108, 194, 1);
      @include znv-font-color(#fff, #333);
    }
  }
}

//地图弹出框样式
.znv-map-dialog {
  &.el-dialog {
    /* @include znv_bg($color-bg-dialo2, $color-bg-dialog__header-dark);*/
    @include znv_bg(#fff, $color-bg-dialog__header-dark);
    @include znv-border(1px solid rgba(41,109,194,1),0);
    .el-dialog__header {
      @include znv_bg(linear-gradient(0deg,rgba(10,19,38,1),rgba(6,102,183,1),rgba(14,152,255,1)), transparent);
    }
  }
}

.mod-pwd-dialog .el-dialog,
.exit-dialog .el-dialog,
.theme-dialog .el-dialog {
  //@include znv_bg($color-bg-dialog, $color-bg-dialog-dark);
  background: $color-bg-dialog-dark;
}

.el-dialog__header {
  padding: 0 20px;
  @include znv_bg($color-bg-dialog__header, $color-bg-dialog__header-dark);
  border-radius: 4px 4px 0 0;
}

.mod-pwd-dialog .el-dialog .el-dialog__header,
.exit-dialog .el-dialog .el-dialog__header,
.theme-dialog .el-dialog .el-dialog__header {
  @include znv_bg($color-bg-dialog__header, $color-bg-dialog__header-dark);
}

.el-dialog__headerbtn {
  right: 20px;
  top: 12px;
  font-size: 24px;
}

.el-dialog__title {
  display: block;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 18px;
  text-align: left;
}

.el-dialog__title, .el-dialog__body {
  color: $color-font-1;
}

.el-dialog__body {
  padding: 28px 30px;
}

.el-dialog__headerbtn .el-dialog__close {
  color: $color-font-1;
}

//select下拉框
.el-select-dropdown {
  @include znv_border(1px solid $color-border-2, 0px solid $color-border-2);
  @include znv_bg($color-bg-select, #fff);
  @include znv-box-shadow($box-shadow-selcet, $box-shadow-selcet-dark);

  .el-scrollbar__thumb {
    @include znv_bg($color-bg-scrollbar, $color-bg-scrollbar);
  }
}

.el-select-dropdown__item {
  @include znv-font-color($color-font-1, $color-font-6-dark);
}

.el-select-dropdown__item.selected {
  @include znv-font-color($color-font-1, #409EFF);
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  @include znv_bg($color-bg-select-hover, #f5f7fa);
  @include znv-font-color($color-font-1, #409EFF);
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
  @include znv_bg($color-bg-select-hover, #f5f7fa);
  @include znv-font-color($color-font-1, #409EFF);
  font-weight: bold;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover {
  @include znv_bg($color-bg-select-hover, #f5f7fa);
  @include znv-font-color($color-font-1, #409EFF);
}

.el-collapse-item .el-collapse-item__header {
  color: $color-font-1;
  background-color: transparent;
  border: 0;
  margin-left: 5px;
  overflow: hidden;
}

//折叠面板
.el-collapse {
  border: 0;
}

.el-collapse-item__wrap {
  background-color: transparent;
}

.el-collapse-item__wrap {
  border: 0;
}

.el-collapse-item__content {
  padding-bottom: 0;
}

// 滚动条 scrollbar
.el-scrollbar__thumb {
  @include znv_bg($color-bg-scrollbar, $color-font-white5);
}

.el-popper[x-placement^=bottom] .popper__arrow {
  top: -7px;
}

/*增加时间选择器的小图标*/
.el-input__prefix {
  right: 8px;
  left: auto;
  z-index: 5;
}

.el-icon-time {
  line-height: 1;
  color: $color-font-9-dark;
}

//表格 table
.el-table, .el-table__expanded-cell {
  // background-color:  $color-bg-table;
  background-color: transparent;
}

.el-table::before {
  height: 0;
}

.el-table th {
  // background: $color-bg-table;
  //background: transparent;
  @include znv_bg(#173471, $th-bg-dark);
  color: $color-font-th;
  text-align: center;
}

.el-table tr {
  @include znv_bg(transparent, transparent);
}

.dialog-table {
  .el-table {
    th {
      @include znv_bg(transparent, transparent);

      & > .cell {
        @include znv-font-color($color-font-blue5, auto);
      }
    }

    td {
      @include znv-border-bottom(1px, $color-border-table2, auto);
    }

    .el-table__body tr:hover > td {
      @include znv_bg(rgba(42,92,192,0.1), rgba(98,136,217,0.2));
    }
  }
}

.el-table .el-table__row {
  // background: $color-bg-table;
  background: transparent;
  color: $color-font-1;
  text-align: center;
}

.el-table__body tr.current-row > td {
  @include znv_bg($color-bg-table-hover, $color-bg-table-hover-dark);
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
  @include znv_bg($color-bg-table-hover, $color-bg-table-hover-dark);
}

.el-table tbody td, .el-table tbody th {
  //border-bottom: 1px solid $color-border-table;
  border: none;
  @include znv-border-bottom(1px, $color-border-table, $color-border-znv-dialog-border-dark)
}

.dialog-table .el-table th.is-leaf {
  @include znv-border-bottom(1px, $color-border-table2, $color-border-znv-dialog-border-dark)
}

.el-table th.is-leaf {
  @include znv-border-bottom(0px, $color-border-table, transparent);
}

.el-table__empty-block {
  background: transparent;

  .el-table__empty-text {
    margin-top: 20%;
    @include znv-font-color(#fff, #30488B);
  }
}

.el-table .cell {
  @include znv-font-color(#fff, $el-table-td-color-dark)
}

.dialog-table .el-table .cell {
  //color: #fff;
  @include znv-font-color($el-table-td-color-dark, $el-table-td-color-dark)
}

.dialog-table .el-table th > .cell {
  @include znv-font-color($color-font-pager2, $color-font-th2)
}

.el-table th > .cell {
  @include znv-font-color(#A7C5E5, $color-font-th2)
}

//checkbox
.el-checkbox__inner {
  width: 20px;
  height: 20px;
  //background: url('../../assets/public/element/unchecked01.png');
  //  border: 1px solid #BBBBBB;
  @include znv_border(1px solid #BBBBBB, 1px solid #BBBBBB);
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  // background: url('../../assets/public/element/checked01.png');
}

.el-checkbox__inner::after {
  left: 7px;
  top: 2px;
  height: 10px;
  // display: none;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  // color: $color-font-1;
}

// tab页
.el-tabs__nav-wrap {
  margin-bottom: 0;
}

.el-tabs--card > .el-tabs__header .el-tabs__item {
  border-left: none;
}

.el-tabs--card > .el-tabs__header .el-tabs__nav,
.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  border: 0;
}

.show-right-panel {
  .el-tabs--card > .el-tabs__header .el-tabs__item {
    height: 34px;
    line-height: 34px;
    text-align: center;
    @include znv-font-color(#C2E2FF, $color-font-white8);
    float: left;
    position: relative;
    //background-color: #305da3;
    @include znv_bg(transparent, transparent);
    cursor: pointer;
    font-size: 18px;

    &:nth-child(1) {
      &::before {
        @include znv_bg($color-bg-znv-tab, $color-bg-znv-tab-dark);
      }
    }

    &:nth-child(n+2) {
      &::before {
        @include znv_bg($color-bg-znv-tab, $color-bg-znv-tab-dark);
        transform: skewX(27deg) scaleY(1.3) perspective(0em) rotateX(0deg);
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      @include znv_bg(transparent, $color-bg-znv-tab-dark);;
      transform: scaleY(1.4) perspective(1em) rotateX(7deg);
      transform-origin: left;
    }
  }

  .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
    //background: url("../../assets/public/tab-color.png") repeat-x;
    @include znv_bg(transparent, transparent);
    font-size: 18px;
    color: $color-font-1;

    &::before {
      content: '';
      @include znv_bg($color-bg-znv-tab-active, $color-bg-znv-tab-active-dark);
    }
  }
}


.el-tabs--card .znv-tab-triangle {
  width: 0;
  height: 0;
  border-width: 0 17px 34px 0;
  border-style: solid;
  //border-color: transparent transparent #305da3;
  @include znv-tab-triangle-bg($color-bg-znv-tab, $color-bg-znv-triangle-dark);
  position: absolute;
  right: -17px;
  top: 0;
  z-index: 1000;
}

.el-tabs--card > .el-tabs__header .el-tabs__item.is-active .znv-tab-triangle {
  width: 17px;
  height: 34px;
  border: none;
  @include znv-tab-triangle-bg-active($color-bg-znv-triangle-active, $color-bg-znv-triangle-active-dark);
  z-index: 1000;
}

.el-tabs__item {
  @include znv-font-color($color-font-1, $color-font-1-dark);
}

.el-tabs__item.is-active {
  @include znv-font-color(#2FB8FD, $color-font-blue)
}

.el-tabs__item.is-disabled {
  color: #c0c4cc !important;
}

.el-carousel__mask, .el-cascader-menu, .el-cascader-menu__item.is-disabled:hover, .el-collapse-item__wrap {
  @include znv_bg(#0a153e, transparent)
}

//级联菜单
.el-cascader {
  width: 100%;
  color: $color-font-1;
  font-size: 18px;
}

.el-cascader__label {
  @include znv-font-color($color-font-1, $color-font-1-dark);
}

.el-cascader__label span {
  @include znv-font-color($color-font-1, $color-font-1-dark);
}

.el-cascader-menus {
  background: transparent;
  @include znv_border(1px solid #03fffc, 0px solid #03fffc);
}

.el-cascader-menu {
  @include znv_border-right(1px, #03fffc, #e4e7ed);
}

.el-carousel__mask, .el-cascader-menu, .el-cascader-menu__item.is-disabled:hover {
  @include znv_bg(rgba(37, 72, 107, 0.5), #fff)
}

.el-cascader-menu__item {
  @include znv-font-color($color-font-1, $color-font-6-dark);
}

.el-cascader-menu__item:focus:not(:active), .el-cascader-menu__item:hover {
  @include znv_bg(rgba(3, 255, 252, 0.5), #f5f7fa);
}

.el-cascader-menu__item.is-active {
  @include znv-font-color($color-font-1, #409EFF);
}

// messagebox
.el-message-box {
  //width: 200px;
  background: $color-bg-dialog;
  border: 1px solid #2fb8fd;

  .el-message-box__title {
    color: $color-font-1;
  }
}

.el-message-box__content {
  color: $color-font-1;
}

.el-message-box__header, .el-message-box__message, .el-message-box__btns {
  text-align: center;
}

.el-message-box__headerbtn .el-message-box__close {
  color: $color-font-1;
}

//Message 消息提示
.el-message {
  width: 430px;
  height: 40px;
  background: $color-bg-msg;
  border: 1px solid $color-border-msg;
  box-shadow: $box-shadow-1;

  & .el-icon-success {
    color: $color-icon-success;
  }

  & .el-icon-warning {
    color: $color-icon-warning;
  }

  & .el-icon-info {
    color: $color-icon-info;
  }

  & .el-icon-error {
    color: $color-icon-error;
  }

}

.el-message--success .el-message__content {
  color: $color-font-success;
}

.el-message--warning .el-message__content {
  color: $color-font-warning;
}

.el-message--info .el-message__content {
  color: $color-font-info;
}

.el-message--error .el-message__content {
  color: $color-font-error;
}

.el-message__closeBtn {
  color: $color-icon-close;
}

//Notification 通知
.el-notification {
  align-items: center;
  flex-direction: column;
  background: $color-bg-msg;
  border: 1px solid $color-border-msg;
  box-shadow: $box-shadow-1;

  & .el-icon-success {
    color: $color-icon-success;
  }

  & .el-icon-warning {
    color: $color-icon-warning;
  }

  & .el-icon-info {
    color: $color-icon-info;
  }

  & .el-icon-error {
    color: $color-icon-error;
  }
}

.el-notification__icon {
  width: 70px;
  height: 70px;
  font-size: 70px;
  margin-bottom: 31px;
}

.el-notification__group {
  margin-left: 0;
}

.el-notification__title {
  text-align: center;
  color: $color-font-1;
}

.el-notification__content {
  color: $color-font-1;
}

.el-notification__closeBtn {
  color: $color-icon-close;
}

//el-pagination 分页
.el-pagination {

}

.el-pager li {
  min-width: 25px;
}

.el-pagination .btn-prev {
  padding-right: 0;
}

.el-pagination .btn-next {
  padding-left: 0;
}

.el-pagination button:disabled {
  background: transparent;
}

.el-pager li, .el-pagination.is-background .el-pager li {
  background-color: transparent;
  @include znv-font-color($color-bg-pagination, $color-font-6-dark);
}

.el-pager li,
.el-pagination.is-background .el-pager li {
  @include znv-font-color($color-font-1, $color-font-6-dark);
}

/*.dialog-page-btn .el-pager li,
.dialog-page-btn.el-pagination.is-background .btn-next,
.dialog-page-btn.el-pagination.is-background .btn-prev,
.dialog-page-btn.el-pagination.is-background .el-pager li {
  background-color: transparent;
  @include znv-font-color($color-bg-pagination,$color-font-white5);
}*/
.el-pagination.is-background .el-pager li:not(.disabled).active, .el-pager li:not(.disabled).active {
  background-color: transparent;
  @include znv-font-color($color-font-1, $color-font-1);
}

.main-page .el-pager li:not(.disabled).active, .main-page .el-pagination.is-background .el-pager li:not(.disabled).active {
  font-weight: bold;
  @include znv-font-color($color-font-pager, $color-font-blue);
}

/*.dialog-page-btn .el-pagination.is-background .el-pager li:not(.disabled).active,
.dialog-page-btn .el-pager li:not(.disabled).active {
  background-color: transparent;
  @include znv-font-color($color-font-1,$color-font-1);
}*/
.el-pagination__jump, .el-pagination__total {
  @include znv-font-color($color-bg-pagination, $color-font-6-dark);
}

.el-pagination .btn-next, .el-pagination .btn-prev {
  background: transparent !important;
  @include znv-font-color($color-font-1, $color-font-6-dark);
}

.el-pagination .btn-next:disabled, .el-pagination .btn-prev:disabled {
  color: $color-font-9-dark;
}

.dialog-page-btn.el-pagination {
  .btn-next, .btn-prev {
    @include znv-font-color($color-font-6-dark, auto);
  }

  .el-pager li {
    @include znv-font-color($color-font-6-dark,auto);
    &:not(.disabled).active{
      @include znv-font-color($color-font-pager2,auto);
    }
  }
  .el-pagination__jump,.el-pagination__total{
    @include znv-font-color($color-font-6-dark,auto);
  }
}

.dialog-page-btn.el-pagination .btn-next:disabled, .dialog-page-btn.el-pagination .btn-prev:disabled {
  @include znv-font-color($color-font-9-dark, $color-font-9-dark);
}

//form 表单
.el-form-item__label {
  /*@include znv-font-color($color-font-1, $color-font-1-dark);*/
  color: $color-font-1-dark;
}

.el-radio__label {
  @include znv-font-color($color-font-1, $color-font-1);
}

.el-radio__input.is-checked + .el-radio__label {
  @include znv-font-color(#fff, $color-font-2-dark);
}

.el-radio__input.is-checked .el-radio__inner {
  @include znv_bg(#409EFF, $color-bg-radio-dark);
  @include znv_border_color(#409EFF, $color-bg-radio-dark);
}

.el-form-item {
  margin-bottom: 10px;
}

//textarea
.el-textarea__inner {
  @include znv-font-color($color-font-1, $color-font-6-dark);
  @include znv_bg($color-bg-input, $color-bg-dark);
 // @include znv_border(1px solid $color-border-input, 0);
 // @include znv-box-shadow($box-shadow-input, $box-shadow-panel-dark);
}

.el-loading-mask {
  background-color: transparent;
  pointer-events: none;
}

.znv-loading {
  position: relative;
}

.znv-loading-empty {
  position: relative;

  .el-icon-loading {
    display: none;
  }
}

.el-loading-spinner .el-loading-text {
  @include znv-font-color(#fff, #30488B);
  margin: 3px 0;
  font-size: 14px;
}

.query-result .el-loading-spinner .el-loading-text {
  @include znv-font-color(#A7C5E5, #FFFFFF);
  font-size: 16px;
}
.el-cascader .el-input__icon {
  @include znv-font-color( $color-font-9-dark,  $color-font-9-dark);
}
.el-cascader:hover .el-input__inner {
  border-color: #c0c4cc;
}
